.btn-mi-verde {
    background-color: #198754 !important;
    /* Verde del botón */
    border-color: #198754 !important;
}


/* Hover */
.btn-mi-verde:hover {
    background-color: #214E34 !important;
}

.banner {
    position: relative;
    width: 100%;
    height: 250px;
    background: url("../images/kendini\ bul\,\ anda\ kal.jpg") center center / cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner .overlay {
    background: rgba(0, 0, 0, 0.35);
    color: white;
    text-align: center;
    padding: 40px;
    border-radius: 10px;
}

.banner h1 {
    font-size: 3em;
    font-weight: bold;
}

.banner h1 span {
    color: #C9F17E;
}

.banner p {
    font-size: 1.2em;
    margin-top: 10px;
}