* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    margin: 70px;
}

.banner {
  position: relative;
  width: 100%;
  height: 90vh;
  background: url("../images/kendini\ bul\,\ anda\ kal.jpg") center center / cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner .overlay {
  background: rgba(0, 0, 0, 0.35);
  color: white;
  text-align: center;
  padding: 40px;
  border-radius: 10px;
}
.banner h1 {
  font-size: 3em;
  font-weight: bold;
}

.titulo {
    font-size: 32px;
    color: #214E34;
    text-align: center;
}


.equipo p {
    margin-left: 80px;
    margin-right: 80px;
    font-size: 20px;
}


.card {
    width: 274px;
    padding: 10px;
    border-radius: 16px;
    border: none !important;
}

.claro {
    background-color: #C9F17E !important;
}

.oscuro {
    background-color:#214E34 !important;
    color: white !important;
}

.card-title {
    font-size: 24px;
}

.card-text {
    font-size: 20px;
}

.web {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.web h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.web p {
    margin-left: 80px;
    margin-right: 80px;
    font-size: 20px;
}

.web h3 {
    margin-left: 80px;
}

.web ul {
    margin-left: 80px;
}

.list-group {
    border: 2px solid #214E34 !important;
}

.list-group-item {
    border: 1px solid #C9F17E !important;
}

